<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{dialogData.action}} Seller</span>
        <span class="spacer"></span>

        <button class="mat-dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup] ="sellerform">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formController="name" required>
                    <mat-error *ngIf="sellerform.controls.name.touched && sellerform.controls.name.invalid">
                        <span *ngIf="sellerform.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>        

            </div>
        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(sellerform.valid && sellerform.dirty)">
        <mat-icon>save</mat-icon> {{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Cancel
    </button>

</mat-dialog-actions>
